<!doctype html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragment/common-fragment :: head(预订)}"></div>

<body>
<div class="wrapper place-wrapper">

    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Main content -->
    <div class="place-form-area">
        <section class="container">
            <div class="order-container">
                <div class="order">
                    <img class="order__images" alt='' src="images/tickets.png">
                    <p class="order__title">预订:<span th:text="' '+${bookForm.choosenMovie}"><br><span
                            class="order__descript">祝您观影愉快！</span></p>
                </div>
            </div>
            <div class="order-step-area">
                <div class="order-step first--step order-step--disable ">1.选择您要观看的场次</div>
                <div class="order-step second--step">2.选择座位</div>
            </div>

            <div class="choose-sits">
                <div class="choose-sits__info choose-sits__info--first">
                    <ul>
                        <li class="sits-price marker--none"><strong>价格</strong></li>
                        <li th:text="'￥'+${bookForm.choosenPrice}" class="sits-price sits-price--cheap">￥10</li>
                        <li th:text="'￥'+${bookForm.choosenPrice}" class="sits-price sits-price--middle">￥20</li>
                        <li th:text="'￥'+${bookForm.choosenPrice}" class="sits-price sits-price--expensive">￥30</li>
                    </ul>
                </div>

                <div class="choose-sits__info">
                    <ul>
                        <li class="sits-state sits-state--not">不可预订</li>
                        <li class="sits-state sits-state--your">已选择的</li>
                    </ul>
                </div>

                <div class="col-sm-12 col-lg-10 col-lg-offset-1">
                    <div class="sits-area hidden-xs">
                        <div class="sits-anchor">屏幕</div>

                        <div class="sits">
                            <aside class="sits__line">
                                <span class="sits__indecator">A</span>
                                <span class="sits__indecator">B</span>
                                <span class="sits__indecator">C</span>
                                <span class="sits__indecator">D</span>
                                <span class="sits__indecator">E</span>
                                <span class="sits__indecator">F</span>
                                <span class="sits__indecator">G</span>
                                <span class="sits__indecator">I</span>
                                <span class="sits__indecator additional-margin">J</span>
                                <span class="sits__indecator">K</span>
                                <span class="sits__indecator">L</span>
                            </aside>

                            <div class="sits__row">
                                <span class="sits__place sits-price--cheap" data-place='A2'
                                      th:attr="data-price=${bookForm.choosenPrice}">A2</span>
                                <span class="sits__place sits-price--cheap" data-place='A3'
                                      th:attr="data-price=${bookForm.choosenPrice}">A3</span>
                                <span class="sits__place sits-price--cheap" data-place='A4'
                                      th:attr="data-price=${bookForm.choosenPrice}">A4</span>
                                <span class="sits__place sits-price--cheap" data-place='A5'
                                      th:attr="data-price=${bookForm.choosenPrice}">A5</span>
                                <span class="sits__place sits-price--cheap" data-place='A6'
                                      th:attr="data-price=${bookForm.choosenPrice}">A6</span>
                                <span class="sits__place sits-price--cheap" data-place='A7'
                                      th:attr="data-price=${bookForm.choosenPrice}">A7</span>
                                <span class="sits__place sits-price--cheap" data-place='A8'
                                      th:attr="data-price=${bookForm.choosenPrice}">A8</span>
                                <span class="sits__place sits-price--cheap" data-place='A9'
                                      th:attr="data-price=${bookForm.choosenPrice}">A9</span>
                                <span class="sits__place sits-price--cheap" data-place='A10'
                                      th:attr="data-price=${bookForm.choosenPrice}">A10</span>
                                <span class="sits__place sits-price--cheap" data-place='A11'
                                      th:attr="data-price=${bookForm.choosenPrice}">A11</span>
                                <span class="sits__place sits-price--cheap" data-place='A12'
                                      th:attr="data-price=${bookForm.choosenPrice}">A12</span>
                                <span class="sits__place sits-price--cheap" data-place='A13'
                                      th:attr="data-price=${bookForm.choosenPrice}">A13</span>
                                <span class="sits__place sits-price--cheap" data-place='A14'
                                      th:attr="data-price=${bookForm.choosenPrice}">A14</span>
                                <span class="sits__place sits-price--cheap" data-place='A15'
                                      th:attr="data-price=${bookForm.choosenPrice}">A15</span>
                                <span class="sits__place sits-price--cheap" data-place='A16'
                                      th:attr="data-price=${bookForm.choosenPrice}">A16</span>
                                <span class="sits__place sits-price--cheap" data-place='A17'
                                      th:attr="data-price=${bookForm.choosenPrice}">A17</span>
                            </div>

                            <div class="sits__row">
                                <span class="sits__place sits-price--cheap" data-place='B1'
                                      th:attr="data-price=${bookForm.choosenPrice}">B1</span>
                                <span class="sits__place sits-price--cheap" data-place='B2'
                                      th:attr="data-price=${bookForm.choosenPrice}">B2</span>
                                <span class="sits__place sits-price--cheap" data-place='B3'
                                      th:attr="data-price=${bookForm.choosenPrice}">B3</span>
                                <span class="sits__place sits-price--cheap" data-place='B4'
                                      th:attr="data-price=${bookForm.choosenPrice}">B4</span>
                                <span class="sits__place sits-price--cheap" data-place='B5'
                                      th:attr="data-price=${bookForm.choosenPrice}">B5</span>
                                <span class="sits__place sits-price--cheap" data-place='B6'
                                      th:attr="data-price=${bookForm.choosenPrice}">B6</span>
                                <span class="sits__place sits-price--cheap" data-place='B7'
                                      th:attr="data-price=${bookForm.choosenPrice}">B7</span>
                                <span class="sits__place sits-price--cheap" data-place='B8'
                                      th:attr="data-price=${bookForm.choosenPrice}">B8</span>
                                <span class="sits__place sits-price--cheap" data-place='B9'
                                      th:attr="data-price=${bookForm.choosenPrice}">B9</span>
                                <span class="sits__place sits-price--cheap" data-place='B10'
                                      th:attr="data-price=${bookForm.choosenPrice}">B10</span>
                                <span class="sits__place sits-price--cheap" data-place='B11'
                                      th:attr="data-price=${bookForm.choosenPrice}">B11</span>
                                <span class="sits__place sits-price--cheap" data-place='B12'
                                      th:attr="data-price=${bookForm.choosenPrice}">B12</span>
                                <span class="sits__place sits-price--cheap" data-place='B13'
                                      th:attr="data-price=${bookForm.choosenPrice}">B13</span>
                                <span class="sits__place sits-price--cheap" data-place='B14'
                                      th:attr="data-price=${bookForm.choosenPrice}">B14</span>
                                <span class="sits__place sits-price--cheap" data-place='B15'
                                      th:attr="data-price=${bookForm.choosenPrice}">B15</span>
                                <span class="sits__place sits-price--cheap" data-place='B16'
                                      th:attr="data-price=${bookForm.choosenPrice}">B16</span>
                                <span class="sits__place sits-price--cheap" data-place='B17'
                                      th:attr="data-price=${bookForm.choosenPrice}">B17</span>
                                <span class="sits__place sits-price--cheap" data-place='B18'
                                      th:attr="data-price=${bookForm.choosenPrice}">B18</span>
                            </div>

                            <div class="sits__row">
                                <span class="sits__place sits-price--cheap" data-place='C1'
                                      th:attr="data-price=${bookForm.choosenPrice}">C1</span>
                                <span class="sits__place sits-price--cheap" data-place='C2'
                                      th:attr="data-price=${bookForm.choosenPrice}">C2</span>
                                <span class="sits__place sits-price--cheap" data-place='C3'
                                      th:attr="data-price=${bookForm.choosenPrice}">C3</span>
                                <span class="sits__place sits-price--cheap" data-place='C4'
                                      th:attr="data-price=${bookForm.choosenPrice}">C4</span>
                                <span class="sits__place sits-price--cheap" data-place='C5'
                                      th:attr="data-price=${bookForm.choosenPrice}">C5</span>
                                <span class="sits__place sits-price--cheap" data-place='C6'
                                      th:attr="data-price=${bookForm.choosenPrice}">C6</span>
                                <span class="sits__place sits-price--cheap" data-place='C7'
                                      th:attr="data-price=${bookForm.choosenPrice}">C7</span>
                                <span class="sits__place sits-price--cheap" data-place='C8'
                                      th:attr="data-price=${bookForm.choosenPrice}">C8</span>
                                <span class="sits__place sits-price--cheap" data-place='C9'
                                      th:attr="data-price=${bookForm.choosenPrice}">C9</span>
                                <span class="sits__place sits-price--cheap" data-place='C10'
                                      th:attr="data-price=${bookForm.choosenPrice}">C10</span>
                                <span class="sits__place sits-price--cheap" data-place='C11'
                                      th:attr="data-price=${bookForm.choosenPrice}">C11</span>
                                <span class="sits__place sits-price--cheap" data-place='C12'
                                      th:attr="data-price=${bookForm.choosenPrice}">C12</span>
                                <span class="sits__place sits-price--cheap" data-place='C13'
                                      th:attr="data-price=${bookForm.choosenPrice}">C13</span>
                                <span class="sits__place sits-price--cheap" data-place='C14'
                                      th:attr="data-price=${bookForm.choosenPrice}">C14</span>
                                <span class="sits__place sits-price--cheap" data-place='C15'
                                      th:attr="data-price=${bookForm.choosenPrice}">C15</span>
                                <span class="sits__place sits-price--cheap" data-place='C16'
                                      th:attr="data-price=${bookForm.choosenPrice}">C16</span>
                                <span class="sits__place sits-price--cheap" data-place='C17'
                                      th:attr="data-price=${bookForm.choosenPrice}">C17</span>
                                <span class="sits__place sits-price--cheap" data-place='C18'
                                      th:attr="data-price=${bookForm.choosenPrice}">C18</span>
                            </div>

                            <div class="sits__row">
                                <span class="sits__place sits-price--cheap" data-place='D1'
                                      th:attr="data-price=${bookForm.choosenPrice}">D1</span>
                                <span class="sits__place sits-price--cheap" data-place='D2'
                                      th:attr="data-price=${bookForm.choosenPrice}">D2</span>
                                <span class="sits__place sits-price--cheap" data-place='D3'
                                      th:attr="data-price=${bookForm.choosenPrice}">D3</span>
                                <span class="sits__place sits-price--cheap" data-place='D4'
                                      th:attr="data-price=${bookForm.choosenPrice}">D4</span>
                                <span class="sits__place sits-price--cheap" data-place='D5'
                                      th:attr="data-price=${bookForm.choosenPrice}">D5</span>
                                <span class="sits__place sits-price--cheap" data-place='D6'
                                      th:attr="data-price=${bookForm.choosenPrice}">D6</span>
                                <span class="sits__place sits-price--cheap sits-state--not" data-place='D7'
                                      th:attr="data-price=${bookForm.choosenPrice}">D7</span>
                                <span class="sits__place sits-price--cheap sits-state--not" data-place='D8'
                                      th:attr="data-price=${bookForm.choosenPrice}">D8</span>
                                <span class="sits__place sits-price--cheap" data-place='D9'
                                      th:attr="data-price=${bookForm.choosenPrice}">D9</span>
                                <span class="sits__place sits-price--cheap" data-place='D10'
                                      th:attr="data-price=${bookForm.choosenPrice}">D10</span>
                                <span class="sits__place sits-price--cheap" data-place='D11'
                                      th:attr="data-price=${bookForm.choosenPrice}">D11</span>
                                <span class="sits__place sits-price--cheap" data-place='D12'
                                      th:attr="data-price=${bookForm.choosenPrice}">D12</span>
                                <span class="sits__place sits-price--cheap" data-place='D13'
                                      th:attr="data-price=${bookForm.choosenPrice}">D13</span>
                                <span class="sits__place sits-price--cheap" data-place='D14'
                                      th:attr="data-price=${bookForm.choosenPrice}">D14</span>
                                <span class="sits__place sits-price--cheap" data-place='D15'
                                      th:attr="data-price=${bookForm.choosenPrice}">D15</span>
                                <span class="sits__place sits-price--cheap" data-place='D16'
                                      th:attr="data-price=${bookForm.choosenPrice}">D16</span>
                                <span class="sits__place sits-price--cheap" data-place='D17'
                                      th:attr="data-price=${bookForm.choosenPrice}">D17</span>
                                <span class="sits__place sits-price--cheap" data-place='D18'
                                      th:attr="data-price=${bookForm.choosenPrice}">D18</span>
                            </div>

                            <div class="sits__row">
                                <span class="sits__place sits-price--middle" data-place='E1'
                                      th:attr="data-price=${bookForm.choosenPrice}">E1</span>
                                <span class="sits__place sits-price--middle" data-place='E2'
                                      th:attr="data-price=${bookForm.choosenPrice}">E2</span>
                                <span class="sits__place sits-price--middle" data-place='E3'
                                      th:attr="data-price=${bookForm.choosenPrice}">E3</span>
                                <span class="sits__place sits-price--middle" data-place='E4'
                                      th:attr="data-price=${bookForm.choosenPrice}">E4</span>
                                <span class="sits__place sits-price--middle" data-place='E5'
                                      th:attr="data-price=${bookForm.choosenPrice}">E5</span>
                                <span class="sits__place sits-price--middle" data-place='E6'
                                      th:attr="data-price=${bookForm.choosenPrice}">E6</span>
                                <span class="sits__place sits-price--middle" data-place='E7'
                                      th:attr="data-price=${bookForm.choosenPrice}">E7</span>
                                <span class="sits__place sits-price--middle" data-place='E8'
                                      th:attr="data-price=${bookForm.choosenPrice}">E8</span>
                                <span class="sits__place sits-price--middle" data-place='E9'
                                      th:attr="data-price=${bookForm.choosenPrice}">E9</span>
                                <span class="sits__place sits-price--middle" data-place='E10'
                                      th:attr="data-price=${bookForm.choosenPrice}">E10</span>
                                <span class="sits__place sits-price--middle" data-place='E11'
                                      th:attr="data-price=${bookForm.choosenPrice}">E11</span>
                                <span class="sits__place sits-price--middle" data-place='E12'
                                      th:attr="data-price=${bookForm.choosenPrice}">E12</span>
                                <span class="sits__place sits-price--middle" data-place='E13'
                                      th:attr="data-price=${bookForm.choosenPrice}">E13</span>
                                <span class="sits__place sits-price--middle" data-place='E14'
                                      th:attr="data-price=${bookForm.choosenPrice}">E14</span>
                                <span class="sits__place sits-price--middle" data-place='E15'
                                      th:attr="data-price=${bookForm.choosenPrice}">E15</span>
                                <span class="sits__place sits-price--middle" data-place='E16'
                                      th:attr="data-price=${bookForm.choosenPrice}">E16</span>
                                <span class="sits__place sits-price--middle" data-place='E17'
                                      th:attr="data-price=${bookForm.choosenPrice}">E17</span>
                                <span class="sits__place sits-price--middle" data-place='E18'
                                      th:attr="data-price=${bookForm.choosenPrice}">E18</span>
                            </div>

                            <div class="sits__row">
                                <span class="sits__place sits-price--middle" data-place='F1'
                                      th:attr="data-price=${bookForm.choosenPrice}">F1</span>
                                <span class="sits__place sits-price--middle" data-place='F2'
                                      th:attr="data-price=${bookForm.choosenPrice}">F2</span>
                                <span class="sits__place sits-price--middle" data-place='F3'
                                      th:attr="data-price=${bookForm.choosenPrice}">F3</span>
                                <span class="sits__place sits-price--middle" data-place='F4'
                                      th:attr="data-price=${bookForm.choosenPrice}">F4</span>
                                <span class="sits__place sits-price--middle" data-place='F5'
                                      th:attr="data-price=${bookForm.choosenPrice}">F5</span>
                                <span class="sits__place sits-price--middle" data-place='F6'
                                      th:attr="data-price=${bookForm.choosenPrice}">F6</span>
                                <span class="sits__place sits-price--middle" data-place='F7'
                                      th:attr="data-price=${bookForm.choosenPrice}">F7</span>
                                <span class="sits__place sits-price--middle" data-place='F8'
                                      th:attr="data-price=${bookForm.choosenPrice}">F8</span>
                                <span class="sits__place sits-price--middle" data-place='F9'
                                      th:attr="data-price=${bookForm.choosenPrice}">F9</span>
                                <span class="sits__place sits-price--middle" data-place='F10'
                                      th:attr="data-price=${bookForm.choosenPrice}">F10</span>
                                <span class="sits__place sits-price--middle" data-place='F11'
                                      th:attr="data-price=${bookForm.choosenPrice}">F11</span>
                                <span class="sits__place sits-price--middle" data-place='F12'
                                      th:attr="data-price=${bookForm.choosenPrice}">F12</span>
                                <span class="sits__place sits-price--middle" data-place='F13'
                                      th:attr="data-price=${bookForm.choosenPrice}">F13</span>
                                <span class="sits__place sits-price--middle" data-place='F14'
                                      th:attr="data-price=${bookForm.choosenPrice}">F14</span>
                                <span class="sits__place sits-price--middle" data-place='F15'
                                      th:attr="data-price=${bookForm.choosenPrice}">F15</span>
                                <span class="sits__place sits-price--middle" data-place='F16'
                                      th:attr="data-price=${bookForm.choosenPrice}">F16</span>
                                <span class="sits__place sits-price--middle" data-place='F17'
                                      th:attr="data-price=${bookForm.choosenPrice}">F17</span>
                                <span class="sits__place sits-price--middle" data-place='F18'
                                      th:attr="data-price=${bookForm.choosenPrice}">F18</span>
                            </div>

                            <div class="sits__row">
                                <span class="sits__place sits-price--middle" data-place='G1'
                                      th:attr="data-price=${bookForm.choosenPrice}">G1</span>
                                <span class="sits__place sits-price--middle" data-place='G2'
                                      th:attr="data-price=${bookForm.choosenPrice}">G2</span>
                                <span class="sits__place sits-price--middle" data-place='G3'
                                      th:attr="data-price=${bookForm.choosenPrice}">G3</span>
                                <span class="sits__place sits-price--middle" data-place='G4'
                                      th:attr="data-price=${bookForm.choosenPrice}">G4</span>
                                <span class="sits__place sits-price--middle" data-place='G5'
                                      th:attr="data-price=${bookForm.choosenPrice}">G5</span>
                                <span class="sits__place sits-price--middle" data-place='G6'
                                      th:attr="data-price=${bookForm.choosenPrice}">G6</span>
                                <span class="sits__place sits-price--middle" data-place='G7'
                                      th:attr="data-price=${bookForm.choosenPrice}">G7</span>
                                <span class="sits__place sits-price--middle" data-place='G8'
                                      th:attr="data-price=${bookForm.choosenPrice}">G8</span>
                                <span class="sits__place sits-price--middle" data-place='G9'
                                      th:attr="data-price=${bookForm.choosenPrice}">G9</span>
                                <span class="sits__place sits-price--middle" data-place='G10'
                                      th:attr="data-price=${bookForm.choosenPrice}">G10</span>
                                <span class="sits__place sits-price--middle" data-place='G11'
                                      th:attr="data-price=${bookForm.choosenPrice}">G11</span>
                                <span class="sits__place sits-price--middle" data-place='G12'
                                      th:attr="data-price=${bookForm.choosenPrice}">G12</span>
                                <span class="sits__place sits-price--middle" data-place='G13'
                                      th:attr="data-price=${bookForm.choosenPrice}">G13</span>
                                <span class="sits__place sits-price--middle" data-place='G14'
                                      th:attr="data-price=${bookForm.choosenPrice}">G14</span>
                                <span class="sits__place sits-price--middle" data-place='G15'
                                      th:attr="data-price=${bookForm.choosenPrice}">G15</span>
                                <span class="sits__place sits-price--middle" data-place='G16'
                                      th:attr="data-price=${bookForm.choosenPrice}">G16</span>
                                <span class="sits__place sits-price--middle" data-place='G17'
                                      th:attr="data-price=${bookForm.choosenPrice}">G17</span>
                                <span class="sits__place sits-price--middle" data-place='G18'
                                      th:attr="data-price=${bookForm.choosenPrice}">G18</span>
                            </div>

                            <div class="sits__row">
                                <span class="sits__place sits-price--middle" data-place='I3'
                                      th:attr="data-price=${bookForm.choosenPrice}">I3</span>
                                <span class="sits__place sits-price--middle" data-place='I4'
                                      th:attr="data-price=${bookForm.choosenPrice}">I4</span>
                                <span class="sits__place sits-price--middle" data-place='I5'
                                      th:attr="data-price=${bookForm.choosenPrice}">I5</span>
                                <span class="sits__place sits-price--middle" data-place='I6'
                                      th:attr="data-price=${bookForm.choosenPrice}">I6</span>
                                <span class="sits__place sits-price--middle" data-place='I7'
                                      th:attr="data-price=${bookForm.choosenPrice}">I7</span>
                                <span class="sits__place sits-price--middle" data-place='I8'
                                      th:attr="data-price=${bookForm.choosenPrice}">I8</span>
                                <span class="sits__place sits-price--middle" data-place='I9'
                                      th:attr="data-price=${bookForm.choosenPrice}">I9</span>
                                <span class="sits__place sits-price--middle" data-place='I10'
                                      th:attr="data-price=${bookForm.choosenPrice}">I10</span>
                                <span class="sits__place sits-price--middle" data-place='I11'
                                      th:attr="data-price=${bookForm.choosenPrice}">I11</span>
                                <span class="sits__place sits-price--middle" data-place='I12'
                                      th:attr="data-price=${bookForm.choosenPrice}">I12</span>
                                <span class="sits__place sits-price--middle" data-place='I13'
                                      th:attr="data-price=${bookForm.choosenPrice}">I13</span>
                                <span class="sits__place sits-price--middle" data-place='I14'
                                      th:attr="data-price=${bookForm.choosenPrice}">I14</span>
                                <span class="sits__place sits-price--middle" data-place='I15'
                                      th:attr="data-price=${bookForm.choosenPrice}">I15</span>
                                <span class="sits__place sits-price--middle" data-place='I16'
                                      th:attr="data-price=${bookForm.choosenPrice}">I16</span>
                            </div>

                            <div class="sits__row additional-margin">
                                <span class="sits__place sits-price--expensive" data-place='J5'
                                      th:attr="data-price=${bookForm.choosenPrice}">J5</span>
                                <span class="sits__place sits-price--expensive" data-place='J6'
                                      th:attr="data-price=${bookForm.choosenPrice}">J6</span>
                                <span class="sits__place sits-price--expensive" data-place='J7'
                                      th:attr="data-price=${bookForm.choosenPrice}">J7</span>
                                <span class="sits__place sits-price--expensive" data-place='J8'
                                      th:attr="data-price=${bookForm.choosenPrice}">J8</span>
                                <span class="sits__place sits-price--expensive" data-place='J9'
                                      th:attr="data-price=${bookForm.choosenPrice}">J9</span>
                                <span class="sits__place sits-price--expensive" data-place='J10'
                                      th:attr="data-price=${bookForm.choosenPrice}">J10</span>
                                <span class="sits__place sits-price--expensive" data-place='J11'
                                      th:attr="data-price=${bookForm.choosenPrice}">J11</span>
                                <span class="sits__place sits-price--expensive" data-place='J12'
                                      th:attr="data-price=${bookForm.choosenPrice}">J12</span>
                                <span class="sits__place sits-price--expensive" data-place='J13'
                                      th:attr="data-price=${bookForm.choosenPrice}">J13</span>
                                <span class="sits__place sits-price--expensive" data-place='J14'
                                      th:attr="data-price=${bookForm.choosenPrice}">J14</span>
                            </div>

                            <div class="sits__row">
                                <span class="sits__place sits-price--expensive" data-place='K5'
                                      th:attr="data-price=${bookForm.choosenPrice}">K5</span>
                                <span class="sits__place sits-price--expensive" data-place='K6'
                                      th:attr="data-price=${bookForm.choosenPrice}">K6</span>
                                <span class="sits__place sits-price--expensive" data-place='K7'
                                      th:attr="data-price=${bookForm.choosenPrice}">K7</span>
                                <span class="sits__place sits-price--expensive" data-place='K8'
                                      th:attr="data-price=${bookForm.choosenPrice}">K8</span>
                                <span class="sits__place sits-price--expensive" data-place='K9'
                                      th:attr="data-price=${bookForm.choosenPrice}">K9</span>
                                <span class="sits__place sits-price--expensive" data-place='K10'
                                      th:attr="data-price=${bookForm.choosenPrice}">K10</span>
                                <span class="sits__place sits-price--expensive" data-place='K11'
                                      th:attr="data-price=${bookForm.choosenPrice}">K11</span>
                                <span class="sits__place sits-price--expensive" data-place='K12'
                                      th:attr="data-price=${bookForm.choosenPrice}">K12</span>
                                <span class="sits__place sits-price--expensive" data-place='K13'
                                      th:attr="data-price=${bookForm.choosenPrice}">K13</span>
                                <span class="sits__place sits-price--expensive" data-place='K14'
                                      th:attr="data-price=${bookForm.choosenPrice}">K14</span>
                            </div>

                            <div class="sits__row">
                                <span class="sits__place sits-price--expensive" data-place='L6'
                                      th:attr="data-price=${bookForm.choosenPrice}">L6</span>
                                <span class="sits__place sits-price--expensive" data-place='L7'
                                      th:attr="data-price=${bookForm.choosenPrice}">L7</span>
                                <span class="sits__place sits-price--expensive" data-place='L8'
                                      th:attr="data-price=${bookForm.choosenPrice}">L8</span>
                                <span class="sits__place sits-price--expensive" data-place='L9'
                                      th:attr="data-price=${bookForm.choosenPrice}">L9</span>
                                <span class="sits__place sits-price--expensive" data-place='L10'
                                      th:attr="data-price=${bookForm.choosenPrice}">L10</span>
                                <span class="sits__place sits-price--expensive" data-place='L11'
                                      th:attr="data-price=${bookForm.choosenPrice}">L11</span>
                                <span class="sits__place sits-price--expensive" data-place='L12'
                                      th:attr="data-price=${bookForm.choosenPrice}">L12</span>
                                <span class="sits__place sits-price--expensive" data-place='L13'
                                      th:attr="data-price=${bookForm.choosenPrice}">L13</span>
                            </div>

                            <aside class="sits__checked">
                                <div class="checked-place">

                                </div>
                                <div class="checked-result">
                                    ￥0
                                </div>
                            </aside>
                            <footer class="sits__number">
                                <span class="sits__indecator">1</span>
                                <span class="sits__indecator">2</span>
                                <span class="sits__indecator">3</span>
                                <span class="sits__indecator">4</span>
                                <span class="sits__indecator">5</span>
                                <span class="sits__indecator">6</span>
                                <span class="sits__indecator">7</span>
                                <span class="sits__indecator">8</span>
                                <span class="sits__indecator">9</span>
                                <span class="sits__indecator">10</span>
                                <span class="sits__indecator">11</span>
                                <span class="sits__indecator">12</span>
                                <span class="sits__indecator">13</span>
                                <span class="sits__indecator">14</span>
                                <span class="sits__indecator">15</span>
                                <span class="sits__indecator">16</span>
                                <span class="sits__indecator">17</span>
                                <span class="sits__indecator">18</span>
                            </footer>
                        </div>
                    </div>
                </div>

                <!-- 移动端视图 -->
                <!--<div class="col-sm-12 visible-xs">
                    <div class="sits-area&#45;&#45;mobile">
                        <div class="sits-area&#45;&#45;mobile-wrap">
                            <div class="sits-select">
                                <select name="sorting_item" class="sits__sort sit-row" tabindex="0">
                                    <option value="1" selected='selected'>A</option>
                                    <option value="2">B</option>
                                    <option value="3">C</option>
                                    <option value="4">D</option>
                                    <option value="5">E</option>
                                    <option value="6">F</option>
                                    <option value="7">G</option>
                                    <option value="8">I</option>
                                    <option value="9">J</option>
                                    <option value="10">K</option>
                                    <option value="11">L</option>
                                </select>

                                <select name="sorting_item" class="sits__sort sit-number" tabindex="1">
                                    <option value="1" selected='selected'>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                </select>

                                <a href="#" class="btn btn-md btn&#45;&#45;warning toogle-sits">选择座位</a>
                            </div>
                        </div>

                        <a href="#" class="watchlist add-sits-line">添加新座位</a>

                        <aside class="sits__checked">
                            <div class="checked-place">
                                <span class="choosen-place"></span>
                            </div>
                            <div class="checked-result">
                                ￥0
                            </div>
                        </aside>

                        <img alt="" src="images/components/sits_mobile.png">
                    </div>
                </div>-->
            </div>
        </section>
    </div>


    <div class="clearfix"></div>
    <form id='film-and-time' class="booking-form">

        <input type='text' name='choosenNumber' class="choosen-number">
        <input type='text' name='choosenCost' class="choosen-cost">
        <input type='text' name='choosenSits' class="choosen-sits">


        <div class="booking-pagination booking-pagination--margin">
            <a href="javascript:history.go(-1);" class="booking-pagination__prev">
                <span class="arrow__text arrow--prev">上一步</span>
                <span class="arrow__info">选择您要观看的场次</span>
            </a>
            <a class="booking-pagination__next book2Submit">
                <span class="arrow__text arrow--next">下一步</span>
                <span class="arrow__info">结算</span>
            </a>
        </div>
    </form>

    <div class="clearfix"></div>

    <div th:replace="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>

<!-- JavaScript-->
<div th:replace="~{/fragment/common-fragment :: script}"></div>

<script type="text/javascript">
    $(document).ready(function () {
        init_BookingTwo();
    });
</script>

</body>
</html>
